@model List<Music_ASM.Models.Artist>

<h2>Danh sách Nghệ sĩ</h2>

<a asp-action="CreateArtist" class="btn btn-primary mb-3">+ Thêm</a>

<table class="table table-dark">
    <tr>
        <th>ID</th>
        <th>Tên</th>
    </tr>

    @foreach (var a in Model)
    {
        <tr>
            <td>@a.ArtistId</td>
            <td>@a.Name</td>
        </tr>
    }
</table>